@model College_Space.Models.Event

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/ButtonStyle.css" asp-append-version="true" />
<h1 style="color:whitesmoke">Event Details</h1>

<div style="color:whitesmoke">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventOrganizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventOrganizer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-warning"><a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a></button> |
    <button class="btn btn-info"><a asp-action="Index">Back to List</a></button>
</div>
