@model IEnumerable<College_Space.Models.Event>



<html>
    <head>
    <link rel="stylesheet" href="~/css/TableStyle.css" asp-append-version="true" />
    </head>

<div >
    <table class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventOrganizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventOrganizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                        <button class="btn btn-warning btn-sm"><a asp-action="Edit" asp-route-id="@item.EventId">Edit</a></button> |
                        <button class="btn btn-info btn-sm"><a asp-action="Details" asp-route-id="@item.EventId">Details</a></button> |
                        <button class="btn btn-danger btn-sm"><a asp-action="Delete" asp-route-id="@item.EventId">Delete</a></button>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>
<br/>
<br/>
<button class="btn-primary btn"><a asp-action="Create">Create</a></button>
</html>
