@model EF_Code_First_Approach.Models.Mobile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mobile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MobID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
