@model IEnumerable<EF_Code_First_Approach.Models.Mobile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MobID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MobID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MobID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
